<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% if page.layout == "home" %}
<title>{{ site.title }} — {{ site.tagline }}</title>
{% elsif page.title %}
<title>{{ page.title }} · {{ site.title }}</title>
{% else %}
<title>{{ site.title }} — {{ site.tagline }}</title>
{% endif %}

<meta name="description" content="{{ page.description | default: site.description | strip_newlines }}">
<link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
<link rel="icon" href="{{ '/assets/img/favicon.svg' | relative_url }}" type="image/svg+xml">

{% seo title=false %}

<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
